.icon-input{
    background: none;
    outline: none;
    border: none;
    color: var(--gray_4);
    font-size: 2rem;
    text-align: left;
    font-weight: 500;
    text-decoration: none;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    background-color: var(--gray_6);
    margin-bottom: 0.8rem;
}

.icon-input:hover{
    background-color: var(--gray_5);
}

.icon-container{
    border-radius: 50%;
    margin-right: 20px;
    width: 2.2rem;
    height: 2.2rem;
    padding: 6px;
    position: relative;
}

.input-icon{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--gray_3);
}

/* Toggle */
.switch {
    position: relative;
    display: inline;
    width: 4.5rem;
    height: 2rem;
    margin-left: auto;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gray_1);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 2rem;
    width: 2rem;
    left: 0px;
    bottom: 0px;
    background-color: var(--gray_5);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--green_3);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--green_3);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  input:disabled + .slider {
      background-color: var(--green_1);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }