/* Login/Register styles */
.form-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main_background);
    color: #ffffff;
    padding: 80px 0px 20px;
    box-sizing: border-box;
}

.form-container h1{
    margin-bottom: 2rem;
    font-size: 4rem;
}

.form-container p {
    color: var(--gray_4);
    /* width: 200px; */
    text-align: center;
    margin: 1.5rem 2rem;
    font-size: 1.9rem;
}

.form-container form{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 350px;
}

.form-container form input {
    background-color: var(--gray_5);
    border: 2.8px solid var(--green_1);
    padding: 1.2rem 1rem;
    margin: 5px 20px;
    border-radius: 1rem;
    outline: none;
    color: var(--gray_4);
    font-size: 1.6rem;
}

.form-container form input:focus{
    border-color: var(--green_2);
}

.input__container{
    display: inherit;
    flex-direction: inherit;
    position: relative;
}

.form-container .pass-icon{
    font-size: 2.5rem;
    color: var(--gray_2);
    position: absolute;
    right: 3.5rem;
    top: 1.5rem;
}

.inverted__link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: auto;
}

.form-container button,
.crop-container button{
    background-color: #DBDADA;
    border: none;
    outline: none;
    padding: 1.2rem 1rem;
    border-radius: 1rem;
    color: var(--gray_5);
    margin: 1rem 2.2rem;
    font-size: 1.8rem;
    cursor: pointer;
}

.form-container button:hover{
    background-color: var(--green_2);
    color: var(--gray_4);
}

.form-container span{
    font-size: 1.8rem;
    color: var(--gray_1);
}

.form-container a {
    color: var(--green_2);
    font-size: inherit;
}

.form-container a:hover{
    text-decoration: none;
}

.form-container form input.error {
    border: 1px solid var(--error_1);
}

.form-container .error-message{
    color: var(--error_2);
    margin-left: 2rem;

}

.form-container .success-message{
    color: var(--green_3);
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Start media queries */
@media (min-width: 780px){

    .form-container{
        padding: 80px 40px 20px;
    }

    .inverted__link{
        flex-direction: column-reverse;
    }

    .inverted__link{
        margin: 0px;
        margin-top: 1rem;
    }

    .form-container p {
        width: auto;
    }
}