.chats-container{
    background-color: var(--main_background);
    color: var(--gray_4);
    width: 350px;
    /* padding: 1.5rem 2.5rem; */
    overflow: auto;
    transition: all .3s ease-out;
    position: relative;
}

.chats-heading{
    font-size: 3rem;
    padding: 1.5rem;
}

.chats-container.hidden{
    width: 40px;
    padding: 1rem;
    text-align: center;
}

.close-drawer{
    background: none;
    outline: none;
    color: var(--gray_4);
    border: none;
    font-size: 2rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.burger-icon{
    font-size: 2.5rem;
}

.chats-container + *{
    transition: all .3s ease-out;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    position: fixed;
    bottom: 0;
    left: 0;
    /* right: 0; */
    width: inherit;
    z-index: 1;
    padding: .5rem 2rem;
    background-color: var(--third_background);
    box-sizing: border-box;
    margin-top: 2rem;
}

footer div{
    display: flex;
    align-items: center;
}

footer h1{
    font-size: 2.5rem;
    margin-left: 1.5rem;
}

footer img{
    height: 5rem;
    border-radius: 50%;
}

.cog-icon{
    font-size: 2.5rem;
    color: var(--gray_3);
}

.clearfix{
    margin-top: 7rem;
    display: block;
}

@media (max-width: 780px){

    .chats-container.active{
        width: 100%;
    }

    .chats-container.active + *{
        transform: translateX(100%);
        width: 0;
        padding: 0;
        overflow: hidden;
    }
}