.chat-container{
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    background-color: var(--secondary_background);
    padding: 1rem 0;
    color: var(--gray_4);
    flex: 1;
    overflow: auto;
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--gray_4);
    position: absolute;
    top: 1.5rem;
    left: 4rem;
    right: 4rem;
}

.chat-header h3{
    margin-left: 1rem;
    font-size: 2.2rem;
}

.chat-settings{
    color: var(--green_2);
    font-size: 2.5rem;
    cursor: pointer;
}

.messages-container{
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    flex: 1;
    overflow: auto;
    padding: 0 1.5rem;
}

.message-input-container{
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    margin-top: 1rem;
}

.message-input{
    padding: 1rem;
    flex: 1;
    background-color: var(--gray_5);
    font-size: 1.5rem;
    color: var(--gray_4);
    border: none;
    outline: none;
    border-radius: 1rem;
    margin-right: 1.5rem;
}

.send-message-btn{
    font-size: 4rem;
    color: var(--green_2);
    cursor: pointer;
}

@media (max-width: 780px) {
    .messages-container,.message-input-container{
        padding: 0rem 1rem;
    }
    
    .chat-header{
        left: 1.5rem;
        right: 1.5rem;
    }
    
    .message-container {
        max-width: 13rem;
    }
}