.search-input-container{
    display: flex;
    align-items: center;
    padding: 1rem;
}

.search-input{
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    flex: 1;
    background-color: var(--gray_5);
    font-size: 1.5rem;
    color: var(--gray_4);
}

.search-input::placeholder {
    color: var(--gray_4);
}

.search-btn{
    background: none;
    border: none;
    color: var(--green_2);
    margin: 1rem;
}

.search-icon{
    font-size: 2rem;
}