.message-container{
    padding: 1rem;
    border-radius: 1rem;
    max-width: 40%;
    margin-top: 1.5rem;
    color: var(--gray_4);
}

.sent{
    background-color: var(--green_2);
    border-top-right-radius: 0;
    align-self: flex-end;
}

.received{
    background-color: var(--gray_5);
    border-top-left-radius: 0;
    align-self: flex-start;
}

.system{
    align-self: center;
    text-align: center;
    max-width: none;
    color: var(--green_2);
}

.message-text{
    font-size: 1.6rem;
    margin-bottom: .5rem;
}

.message-time{
    text-align: left;
    opacity: .7;
    color: var(--gray_4);
    font-size: 1rem;
}

.sent-container{
    display: flex;
    align-items: center;
}

.message-avatar{
    height: 5rem;
    margin-right: 1rem;
}