.profile-container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    background-color: var(--main_background);
    padding: 30px 0px;
    color: var(--gray_4);
}

.profile-container h1{
    text-align: center;
    background-color: var(--gray_4);
    color: black;
    border-radius: 50%;
    width: 8.5rem;
    height: 8.5rem;
    text-align: center;
    font-size: 7.5rem;
    margin: 1rem auto;
}

.profile-container h2{
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.profile-container h4{
    font-size: 2rem;
    margin: 1.2rem;
}

.profile-avatar{
    margin: 0 auto;
    position: relative;
}

.profile-avatar img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.profile-avatar .edit-icon{
    font-size: 2.2rem;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--gray_5);
    border-radius: 50%;
    padding: .5rem;
    cursor: pointer;
}

.back-icon {
    color: var(--gray_4);
    font-size: 2.5rem;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    cursor: pointer;
}

.crop-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--main_background);
    padding: 40px 10px;
    box-sizing: border-box;
}

.crop-container button {
    width: 200px;
    font-size: 2.5rem;
    margin-top: 30px;
}

.crop-container h1{
    font-size: 4rem;
    color: var(--gray_4);
    margin-bottom: 20px;
}